.new-quote-form {
    width: 360px;
    /* background-color: linen; */
    /* padding: 16px; */
    /* box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.26); */
    /* border-radius: 5px; */
    /* margin: 30px auto; */
}

.new-quote-form input{
    box-sizing: border-box;
    /* margin: 5px; */
    width: 100%;
}

.new-quote-form label{
    display: block;
    /* margin: 5px; */
}

.new-quote-form textarea {
    box-sizing: border-box;
    width: 100%;
}

.new-quote-form button {
    /* color: white; */
    /* background-color: rgb(40, 90, 40); */
    font-size: medium;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
}